- model_class = Contract
.page-header
  %h2=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @contract.name
%p
  %strong= model_class.human_attribute_name(:address) + ':'
  %br
  = @contract.address
%p
  %strong= model_class.human_attribute_name(:contractendon) + ':'
  %br
  = @contract.contractendon
%p
  %strong= model_class.human_attribute_name(:longitude) + ':'
  %br
  = @contract.longitude
%p
  %strong= model_class.human_attribute_name(:latitude) + ':'
  %br
  = @contract.latitude
%p
  %strong= model_class.human_attribute_name(:fences) + ':'
  %br
  = @contract.fences
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @contract.user_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), contracts_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_contract_path(@contract), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), contract_path(@contract), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
